body {
    font-family: 'Alice', serif;
    font-size: 50px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    scrollbar-width: none;
}

@font-face {
    font-family: RealMagic;
    src: url(../assets/text/fonts/RealMagicPersonalUse-GOnaD.otf);
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.content {
    background: rgba(0, 162, 255, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Alice', serif;
}