body {
    font-family: 'Alice', serif;
    font-size: 50px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

@font-face {
    font-family: RealMagic;
    src: url(../assets/text/fonts/RealMagicPersonalUse-GOnaD.otf);
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}