.cards {
    text-align: center;
    /* width: 95%; */
    max-width: 1000px;
    /* max-width: 800px; */
    margin: 0 auto;
    overflow-y: scroll;
}

.flip-card {
    background-color: transparent;
    width: 175px;
    height: 250px;
    perspective: 1000px;
    display: inline-block
    
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:large;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 15px;
    background-color: #fff;
    color: rgb(255, 0, 0);
}
 
.flip-card-back {
    border-radius: 15px;
    background-color: #000;
    color: rgb(255, 0, 0);
    transform: rotateY(180deg);
}

.flip-card-front > img, 
.flip-card-back > img {
    height: 250px;
}