.BGDark {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}

.BGLight {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
}

.container {
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
}

.row1, .row3 {
    align-self: center;
}

.vial, .cake {
    height: 200px;
}
.title {
    height: 500px;
}

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant+Garamond:wght@300&family=Spirax&display=swap');




































/* h1 {
    font-size: 75px;
    padding: 0;
    margin: 0;
}

.Home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: url("../assets/media/images/BG_0.png") center center no-repeat;
    z-index: -1;
}

.HomeDark {
    height: 100%;
    width: 100%;
    z-index: -1;
    display: none;
    background: url("../assets/media/images/Home.png") center center no-repeat;
}

.title {
    width : 45%;
}

.cake {
    width : 20%;
    transition: transform .2s;
    z-index: 110;
}
.vial {
    width : 20%;
    transition: transform .2s;
    z-index: 110;
}

.cake:hover {
    transform: scale(1.25) rotate(45deg);
}
.vial:hover {
    transform: scale(1.25) rotate(-45deg);
}

.vial:hover + .Home {
    transition: 1s;
    background: url("../assets/media/images/Home.png") center center no-repeat;
}


.cake:hover + .en {
    transition: 1s;
    opacity: 1;
}

.vial:hover + .fr {
    transition: 1s;
    opacity: 1;
}

.en {
    width : 25%;
    opacity: 0;
}

.fr {
    width : 25%;
    opacity: 0;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
}



#hi {
    font-family: 'Spirax', cursive;
} */