h1 {
    font-size: 175px;
    padding: 0;
    margin: 0;
}

body {
    background: url("../content/media/images/BG_0.png");
}

.title {
    width : 70%;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Spirax&display=swap');

#hi {
    font-family: 'Spirax', cursive;
}