h1 {
    font-size: 75px;
    padding: 0;
    margin: 0;
}

.Landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: url("../assets/media/images/BG_0.png") center center no-repeat;
    z-index: -1;
}

.title {
    width : 45%;
}

.cake {
    width : 20%;
    transition: transform .2s;
}
.vial {
    width : 20%;
    transition: transform .2s;
}

.cake:hover {
    transform: scale(1.25) rotate(45deg);
}
.vial:hover {
    transform: scale(1.25) rotate(-45deg);
}

.vial:hover ~ .Landing {
    background: url("../assets/media/images/landing.png") center center no-repeat;
    
}


.cake:hover + .en {
    transition: 1s;
    opacity: 1;
}

.vial:hover + .fr {
    transition: 1s;
    opacity: 1;
}

.en {
    width : 25%;
    opacity: 0;
}

.fr {
    width : 25%;
    opacity: 0;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant+Garamond:wght@300&family=Spirax&display=swap');

#hi {
    font-family: 'Spirax', cursive;
}