h1 {
    font-size: 75px;
    padding: 0;
    /* padding-top: 50px; */
    margin: 0;
}

.Landing {
    height: 100%;
    width: 100%;
    background-image: url("../assets/media/images/landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.title {
    padding-top: 100px;
    width : 45%;
}

.cake {
    width : 20%;
    right: 20%;
    transition: transform .2s;
}
.cake:hover {
    transform: scale(1.75) rotate(45deg);
}
.vial:hover {
    transform: scale(1.75) rotate(-45deg);
}
.vial {
    width : 20%;
    transition: transform .2s;
}


.cake:hover + .fr {
    transition: 1s;
    opacity: 1;
}
.vial:hover + .en {
    transition: 1s;
    opacity: 1;
}

.en, .fr {
    width : 25%;
    opacity: 0;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant+Garamond:wght@300&family=Spirax&display=swap');
#hi {
    font-family: 'Spirax', cursive;
}