.Menu {
   
  background: url("../assets/media/images/BG_3.png") center center no-repeat;
  /* background-size: contain; */
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  /* max-height: 90vh; */
  padding-top: 2rem;
  padding-bottom: 4.5rem;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  scrollbar-width: none;
}

.menuitem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menuimage {
  transition: transform 0.25s;
  transition-timing-function: ease-in-out;
  order: 1;
}

.label {
  font-family: Spirax;
  background: none;
  border: none;
  color: white;
  font-size: 4rem;
  text-decoration: none;
}

.menuitem:nth-child(even) > .label {
  order: 2;
}
.menuitem:nth-child(odd) > .label {
  order: -1;
}

.menuitem:nth-child(odd):hover > .menuimage {
    transform: scale(1.35) rotate(-45deg);
}

.menuitem:nth-child(even):hover > .menuimage {
    transform: scale(1.35) rotate(45deg);
}