.Vaniercollege {
    height: 100%;
    width: 100%;
    background-image: url("../content/media/images/BG_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.content {
    background: rgba(0, 162, 255, 0.1);
    overflow-y: scroll;
    height: 600px;
    font-family: 'Alice', serif;
}